<div class="tt__navigation">
    <button class="tt__hamburger" (click)="toggle()" [class.close]="isOpen">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <nav id="navigation" [class.active]="isOpen">
        <ul>
            <li routerLinkActive="active">
                <i class="material-icons">home</i>
                <a [routerLink]="['/']" (click)="close()">Home</a>
            </li>
            <li routerLinkActive="active">
                <i class="material-icons">check_circle</i>
                <a [routerLink]="['/info/features']" (click)="close()">Features</a>
            </li>
            <li routerLinkActive="active">
                <i class="material-icons">bug_report</i>
                <a [routerLink]="['/info/debug']" (click)="close()">Debug</a>
            </li>
            <li routerLinkActive="active">
                <i class="material-icons">perm_contact_calendar</i>
                <a [routerLink]="['/info/about']" (click)="close()">About</a>
            </li>
        </ul>
    </nav>
</div>
