<div class="tt__navigation">
    <button class="tt__hamburger" (click)="toggle()" [class.close]="isOpen" role="none" tabindex="-1">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </button>
    <nav id="navigation" [class.active]="isOpen">
        <ul>
            <li routerLinkActive="active" [routerLink]="['/home']" (click)="close()">
                <i class="material-icons">home</i>
                <a>Home</a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/info/features']" (click)="close()">
                <i class="material-icons">check_circle</i>
                <a>Features</a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/info/debug']" (click)="close()">
                <i class="material-icons">bug_report</i>
                <a>Debug</a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/info/about']" (click)="close()">
                <i class="material-icons">perm_contact_calendar</i>
                <a>About</a>
            </li>
        </ul>
    </nav>
</div>
