<h2>About</h2>

<ul>
    <li>Authors
        <ul>
            <li>Christian Weyer (<a href="mailto:christian.weyer@thinktecture.com">christian.weyer@thinktecture.com</a>)
            </li>
            <li>Christian Liebel (<a href="mailto:christian.liebel@thinktecture.com">christian.liebel@thinktecture.com</a>)
            </li>
            <li>Steffen Jahr (<a
                href="mailto:steffen.jahr@thinktecture.com">steffen.jahr@thinktecture.com</a>)
            </li>
        </ul>
    </li>
    <li>Repository: <a href="https://github.com/thinktecture/ngeurope-2018-pwa" target="_blank" rel="noopener">GitHub</a>
    </li>
</ul>
