<div class="tt__card">
    <div class="content no-header">
        <div class="buttons">
            <button class="button" type="button" (click)="clearDatabase()">Clear database</button>
            <button class="button" type="button" (click)="unregisterPush()">Unregister push</button>
            <button class="button" type="button" (click)="unregisterServiceWorker()">Unregister ServiceWorker</button>
            <button class="button" type="button" (click)="showTestNotification()">Show notification</button>
            <button class="button" type="button" (click)="sendPushNotification()">Send push notification</button>
        </div>
        <br>
        <div class="tt__input tt__input--textarea">
            <textarea [(ngModel)]="debugInfo" #info rows="5"></textarea>
        </div>
        <br>
        <div>
            <button class="button" type="button" (click)="clearInfo()">Clear Info</button>
        </div>
    </div>
</div>
