<ul class="menu">
    <li class="menu-item" routerLinkActive="active">
        <a [routerLink]="['/home']" class="menu-link" (click)="closeMenu()"><i class="fa fa-home"></i> Home</a>
    </li>

    <li class="menu-item dropdown" [ngClass]="{'show': isMenuOpen}" routerLinkActive="active">
        <span class="menu-link" (click)="toggleMenu()"><i class="fa fa-podcast"></i>Info</span>

        <ul class="menu dropdown-menu">
            <li class="menu-item" routerLinkActive="active">
                <a class="menu-link" [routerLink]="['/features']" (click)="closeMenu()"><i class="fa fa-cogs"></i>Features</a>
            </li>
            <li class="menu-item" routerLinkActive="active">
                <a class="menu-link" [routerLink]="['/about']" (click)="closeMenu()"><i class="fa fa-globe"></i>
                    About</a>
            </li>
        </ul>
    </li>
</ul>
