button {
  background-color: $brand-color;

  height: 2.8rem;

  color: $text-color-light;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;

  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 7px 0 rgba(255,88,79,0.25);
  padding: 0 1rem;
  transition: .15s box-shadow ease-in-out;

  &:active {
    background-color: lighten($brand-color, 2.5%);
    box-shadow: 0 7px 12px 0 rgba(255,88,79,0.35);
    text-shadow: 0 1px 0 rgba(0,0,0, .1);
  }

  &:focus { outline: none; }

  &.tiny, .tt__card header & {
    background: $default-gradient;

    height: 2rem;

    font-size: 1.1rem;
    line-height: 1rem;
  }

  &.icon {
    background: transparent;

    color: $brand-color;
  }
}
