@import "../mixins/media-queries";

.tt__card {
  background: $card-background;
  box-shadow: 0 2px 25px 0 rgba(0,0,0,0.08);
  border-radius: 7px;
  flex: 0 0 calc(100% - 3rem);
  overflow: hidden;

  max-width: 100%;

  @include tablet-landscape() {
    flex: 1;
    min-width: 35rem;
    max-width: 59.5rem;
  }

  @include desktop() {
    min-width: 59.5rem;
    max-width: 75rem;
  }

  margin: 1.5rem;
  padding: 1.5rem;

  header {
    display: flex;
    flex: 1;
    position: relative;

    h1 {
      color: $brand-color;
      font-size: 1.5rem;
      text-align: center;

      flex: 1;
    }

    button {
      position: absolute;
      right: 0;
    }
  }

  .content {
    margin: 3rem 0;
  }
}
