.tt__fab {
  background: $default-gradient;

  height: 4.5rem;
  width: 4.5rem;

  font-family: "Material Icons";
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: none;
  color: $text-color-light;

  border: none;
  border-radius: 100%;
  box-shadow: 0 5px 7px 0 rgba(255,88,79,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  transition: .3s box-shadow;

  &:hover {
    box-shadow: 0 5px 7px 0 rgba(255,88,79,0.5);
    cursor: pointer;
  }
}
