.tt__list {
  padding-left: 1rem;

  li {
    font: normal 1.2rem "Lato", "Helvetica Neue", Arial, sans-serif;
    color: $text-color-dark;

    list-style: upper-roman;
    padding: .5rem 0;

    ul {
      padding-left: 1.5rem;
    }
  }

  &.table-view {
    $actions-width: 8rem;

    width: 100%;

    margin-left: 0;
    padding-left: 0;

    &.edit-mode {
      li:not(.edit) {
        opacity: .5;
      }
    }

    li {
      height: 4rem;
      width: 100%;

      align-items: center;
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: flex-start;
      opacity: 1;
      position: relative;
      transition: .2s opacity ease-in-out;
      will-change: opacity;

      .tt__input--text {
        flex: 1;
        margin-top: 0;

        input {
          width: 100%;

          border: none;

          &:focus {
            box-shadow: none;
          }
        }
      }

      &.edit {
        width: calc(100% + 3rem);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        margin: 0 -1.5rem;
        padding: 0 $actions-width 0 1.5rem;
        transition: .2s margin, .2s padding, .2s width;
        will-change: margin, padding, width;

        .actions {
          right: 0;
        }
      }

      .actions {
        background: #ffffff;

        width: $actions-width;

        box-shadow: 0 0 5px 0 rgba(255, 255, 255, .5);
        display: flex;
        position: absolute;
        right: #{$actions-width * -1 - 1rem};
        top: calc(50% - 1rem);
        transition: .3s right ease-in-out;
        will-change: right;

        button {
          height: 2rem;

          box-shadow: none;
          flex: 1;

          i {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
