@import "../mixins/_media-queries.scss";

.tt__navigation {
  .tt__hamburger {
    background: transparent;

    height: 2.4rem;
    width: 2.4rem;

    box-shadow: none;
    overflow: hidden;
    padding: .2rem;
    position: fixed;
    left: 2rem;
    top: 2rem;
    z-index: 99;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    .line {
      background: $brand-color;

      height: 3px;
      width: 2rem;

      border-radius: 1.5px;
      display: block;
      margin-bottom: .3rem;
      opacity: 1;
      transition: .2s transform ease-in-out;
      will-change: transform;

      &:last-of-type {
        width: 1.6rem;
      }
    }

    &.close {
      .line {
        transform-origin: left top;

        &:nth-of-type(1) {
          transform: rotate(45deg) translate3d(.4rem,-.3rem,0);
        }

        &:nth-of-type(2) {
          transform: rotate(-45deg) translate3d(-.4rem, .8rem, 0);
        }

        &:nth-of-type(3) {
          transform: translate3d(0, 2rem, 0);
        }
      }
    }
  }

  nav {
    height: 100vh;
    width: 100vw;

    position: fixed;
    left: -100vw;
    top: 7.5rem;
    z-index: 99;

    &.active {
      left: 0;

      ul {
        opacity: 1;
        transition: .2s opacity ease-in-out;
      }
    }

    ul {
      opacity: 0;
      padding-left: 2rem;

      li {
        list-style: none;

        &.active, &:hover {
          a { color: $brand-color; }
        }

        i { display: none; }

        a {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 5rem;
          color: $text-color-darker;
          text-decoration: none;

          &:focus { outline: none; }
        }
      }
    }
  }

  @include tablet-landscape() {
    .tt__hamburger {
      display: none;
    }

    nav {
      background-color: #ffffff;

      height: calc(100vh - #{$top-color-bar-height});
      width: $tablet-navigation-width;

      box-shadow: 1px 0 10px 0 rgba(0,0,0,0.07);
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      top: $top-color-bar-height;

      ul {
        max-width: 100%;

        flex: 1;
        opacity: 1;
        margin: auto 0;
        padding-left: 0;

        li {
          height: 6rem;
          margin: 3rem 0;
          text-align: center;

          i {
            width: 100%;

            display: block;

            font-size: 3.4rem;
            color: $brand-color;
          }

          a {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.2rem;
            text-transform: uppercase;

            display: block;
            padding-top: .5rem;
          }
        }
      }
    }
  }

  @include desktop() {
    .tt__hamburger {
      display: none;
    }

    nav {
      height: $app-bar-height;
      max-width: 35%;

      position: fixed;
      bottom: 0;
      left: 0;
      top: $top-color-bar-height;

      ul {
        height: 100%;

        display: flex;
        opacity: 1;

        li {
          margin: 0 1.5rem;

          a {
            font-size: 1.6rem;
            line-height: 6rem;
            transition: .2s color ease-in-out;
            will-change: color;
          }
        }
      }
    }
  }
}
