.tt__notification {
  background: #FFFFFF;

  min-height: 5rem;

  font: normal 1.1rem "Lato", "Helvetica Neue", Arial, sans-serif;
  color: $text-color-dark;
  line-height: 1.4rem;

  align-items: center;
  box-shadow: 0 5px 12px 0 rgba(0,0,0,0.34);
  border-radius: 7px;
  display: flex;
  padding: 1rem;
  position: fixed;
  top: -10rem;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 999;
  transition: .2s transform ease-in-out;
  will-change: transform;

  &.active {
    transform: translate3d(0, 11.5rem, 0);
  }

  .message {
    flex: 1;
  }
}
