$spinner-size: 7rem;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tt__spinner {
  height: $spinner-size;
  width: $spinner-size;

  animation: .75s spin infinite linear;
  border: 3px solid rgba(255,88,79, .35);
  border-top-color: $brand-color;
  border-radius: 50%;
  display: none;
  position: absolute;
  left: calc(50%  - #{$spinner-size / 2});
  top: calc(50% - #{$spinner-size / 2});

  &.active {
    display: block;
  }
}
