@import '../../../../styles/_variables.scss';

ul {
    li {
        input {
            &[type="checkbox"] {
                background-color: transparent;

                &:checked:after {
                    color: green;
                }

                &:not(:checked):after {
                    content: '\f00d';
                    color: red;
                }

            }
        }
    }
}
