<div class="tt__card">
    <div class="content no-header">
        <ul class="tt__list">
            <li>Authors
                <ul>
                    <li>Steffen Jahr (<a
                        href="mailto:steffen.jahr@thinktecture.com">steffen.jahr@thinktecture.com</a>)
                    </li>
                    <li>Andreas Wissel (<a
                        href="mailto:andreas.wissel@thinktecture.com">andreas.wissel@thinktecture.com</a>)
                    </li>
                    <li>Christian Liebel (<a href="mailto:christian.liebel@thinktecture.com">christian.liebel@thinktecture.com</a>)
                    </li>
                    <li>Christian Weyer (<a
                        href="mailto:christian.weyer@thinktecture.com">christian.weyer@thinktecture.com</a>)
                    </li>
                </ul>
            </li>
            <li>Repository: <a href="https://github.com/thinktecture/ngeurope-2018-pwa" target="_blank" rel="noopener">GitHub</a>
            </li>
        </ul>
    </div>
</div>
