<h1>Welcome</h1>

<p>Welcome to this cross-platform sample application. This sample shows various aspects of cross-platformed developed Angular
  applications.</p>

<h2>Feature list</h2>

<ul>
  <li>Angular - well, that's obvious, isn't it?</li>
  <li>Angular CLI for dev, prod and hmr</li>
  <li>Real responsive menu/sidebar/tabbar- heavily inspired by <a target="_blank" rel="noopener"
                                                                  href="http://scottjensen.design/2016/04/designing-an-alternative-to-the-hamburger-menu/">Scott
    Jensen</a></li>
  <li>Cordova for mobile apps</li>
  <li>Electron for desktop applications</li>
  <li>Angular PWA support with Service Worker and Push Notifications</li>
</ul>

<h2>Info</h2>

<ul>
  <li>Author: Manuel Rauber, Thinktecture AG (<a href="mailto:manuel.rauber@thinktecture.com">manuel.rauber@thinktecture.com</a>)</li>
  <li>Repository: <a href="https://github.com/thinktecture/windows-developer-cross-platform-article-series" target="_blank" rel="noopener">GitHub</a>
  </li>
  <li>Uses the magnificent <a href="http://swapi.co" target="_blank" rel="noopener">StarWars API</a> and <a href="https://pokeapi.co"
                                                                                                            target="_blank" rel="noopener">Poké
    API</a> for sample data
  </li>
</ul>
