.info {
    margin-top: 10px;
    display: flex;
    flex: 1;

    textarea {
        border-radius: 4px;
        display: flex;
        flex: 1;
        outline: none;
        height: 200px;
        font-family: monospace;
        border: 1px solid transparent;
    }
}

.button {
    margin-bottom: 10px;
}
