$default-gradient: linear-gradient(-225deg, #FF584F 0%, #FF006B 100%);

$page-background-color: #FCFCFC;

$brand-color: #FF584F;
$accent-color: #FF006B;

$border-color: #E6E8EC;

$text-color-dark: #6C6C6C;
$text-color-darker: #4A4A4A;
$text-color-light: #FFFFFF;

$card-background: #FFFFFF;
