@import '../global/colors';
@import '../global/variables';
@import "../mixins/media-queries";

html {
  font-size: 10px;
}

body {
  background-color: $page-background-color;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2rem;
  font-weight: normal;

  color: $text-color-dark;
}

a { color: $brand-color; }

.tt__blur-container {
  height: 100vh;
  width: 100vw;

  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 6.3rem;
  padding-bottom: 5rem;
  transition: .2s filter ease-in-out;

  &.active {
    filter: blur(10px);
  }

  @include  tablet-landscape() {
    padding-left: $tablet-navigation-width;
  }
}
