@import '../../../styles/_variables';

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.scroll-container {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: $gap;
}
