@import "../ui-kit/global/colors";

ng-component {
  display: flex;
  flex: 1;
}

.tt__list {
  .actions {
    .icon {
      &.disabled {
        color: $text-color-dark;
      }

      &:not(.disabled) {
        cursor: pointer;
      }
    }
  }
}

.tt__navigation {
  ul {
    li {
      cursor: pointer;
    }
  }
}

.tt__card {
  .content {
    &.no-header {
      margin-top: 0;
    }
  }
}

router-outlet + ng-component {
  justify-content: center;
}

.indicator {
    color: $brand-color;
    font-size: 2.8rem;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    animation: glow .5s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 1px $accent-color;
    }
}

.sync {
    &[disabled]{
        box-shadow: none;
        background: #D2D7DC;
        color: #F3F9FF;
    }
}
