@import "../ui-kit/global/colors";

ng-component {
  display: flex;
  flex: 1;
}

.tt__list {
  .actions {
    .icon {
      &.disabled {
        color: $text-color-dark;
      }

      &:not(.disabled) {
        cursor: pointer;
      }
    }
  }
}

.tt__navigation {
  ul {
    li {
      cursor: pointer;
    }
  }
}

.tt__card {
  .content {
    &.no-header {
      margin-top: 0;
    }
  }
}

router-outlet + ng-component {
  justify-content: center;
}

app-indicator {
    position: fixed;
    left: 1.5rem;
    bottom: 1.5rem;
    color: $brand-color;
    font-size: 2.5rem;
}
