@import "../ui-kit/global/colors";

ng-component {
    display: flex;
    flex: 1;
}

.tt__list {
    .actions {
        .icon {
            &.disabled {
                color: $text-color-dark;
            }

            &:not(.disabled) {
                cursor: pointer;
            }
        }
    }
}
