<form (keyup)="handleKey($event)" (escapeKey)="cancel()">
    <ul class="tt__list table-view" [class.edit-mode]="activeItemIndex >= 0" (outsideClick)="leaveList()">
        <li *ngFor="let item of items; let i = index; trackBy: trackByFn" [class.edit]="i === activeItemIndex">
            <div class="tt__input tt__input--checkbox">
                <input type="checkbox" [ngModel]="item.completed" [id]="'checkbox_' + i"
                       (ngModelChange)="changeItemCompleted(item,$event)" [name]="'checkbox_' + i"
                       [disabled]="activeItemIndex >= 0 && activeItemIndex !== i">
            </div>
            <div class="tt__input tt__input--text">
                <input type="text" #text [(ngModel)]="item.text" [name]="'input_' + i"
                       (focus)="onFocusItem(item, i)" (blur)="leaveEditMode(i, false)">
            </div>
            <div class="actions" *ngIf="activeItemIndex === i">
                <button type="button" class="icon" (click)="shareItem(item)" [class.disabled]="!item.syncId">
                    <i class="material-icons">share</i>
                </button>
                <button type="button" class="icon" (click)="deleteItem(item)">
                    <i class="material-icons">delete</i>
                </button>
            </div>
        </li>
    </ul>
</form>
