@import '../../../../styles/_variables.scss';

ul {
    padding-left: 0;

    li {
        form {
            display: flex;
            flex: 1;
        }

        input {
            &[type="text"] {
                padding: 3px;
                font-size: 14px;
            }
        }

        i {
            &.fa {
                font-size: 18px;
                align-self: center;
                color: $alternative-background-color;
                margin-left: 10px;
            }
        }

    }
}
