.float {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 40px;
    background-color: $primary-color;
    color: $white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px $alternative-background-color;
    font-size: 24px;

    &:focus {
        outline: none;
    }

    &[disabled] {
        background-color: $alternative-background-color;
    }

    @include media('>tablet') {
        bottom: 40px;
    }

    @include media('<=tablet') {
        bottom: 85px;
    }
}
