ul {
    &.list {
        list-style: none;
        padding-left: 0;

        li {
            display: flex;
            flex: 1;
            margin: 10px 0;

            div {
                &.form-group {
                    display: flex;
                    flex: 1;
                }
            }

            label {
                display: flex;
                flex: 1;
                align-self: center;
                margin: 0 10px;
            }
        }
    }
}
